/*Spinner de carga central*/
#spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que el overlay esté en la parte superior */
  }
  
  .spinner-border {
    color: #fff; /* Color del spinner */
  }
  /*Fin de Spinner de carga central*/

  /*generar una version de select oscuro*/
  .select-dark {
    background-color: #333;
    color: #fff;
    border-color: rgba(127, 136, 151, 0.2);;
  }
  
  .select-dark option {
    background-color: #333;
    color: #fff;
  }
  
  .select-dark:focus,
  .select-dark:hover {
    border-color: #333;
    outline-color: #333;
    background-color: #333;
    color: #fff;
  }
  
  .select-dark:focus option,
  .select-dark:hover option {
    background-color: #444;
  }
  
  .select-dark:disabled,
  .select-dark option:disabled {
    color: #888;
  }

  /*Reescritura Hacer que el busador superior ocupe mas espacio al retirar los menues de al lado*/
  .menu-wrapper form {
    width: 950px;   
}

/*css sugerido en el sito de reac-player para que se ajuste a el wrapper que contiene el player*/
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

/*css para el movimiento del acordeon (inhabilitado por el momento, se dejaria estatico el acordeon)*/

.collapse2.show {
  max-height: 1000px;
  transition: max-height 0.35s ease;
  overflow: hidden;  
}
.collapse2 {
  max-height: 0;
  transition: max-height 0.35s ease;
  overflow: hidden;  
}

.collapsing2 {
  max-height: 1000px; /* Altura máxima durante la transición */
  transition: max-height 0.35s ease;
  
}

.show.collapse {
  max-height: 1000px; /* Altura máxima cuando la pestaña está abierta */
}