:root {
  // Estilos
  --Corner-medium: 12px;
  --CornerLarge: 18px;
  --CornerExtra-large: 28px;
  --CornerExtra-large: 28px;
  // Colores
  --Azul-petroleo: #1d0959;
  --Gris-oscuro: #958bb6;
  --Gris-sombra: #958bb680;
}

* {
  font-family: "DM Sans" !important;
}

.btn-round {
  border-radius: var(--Corner-medium) !important;
}

.card-basic {
  // max-width: 325px;
  height: 200px;
  padding: 10px;
  border-radius: var(--CornerLarge);
  box-shadow: 0px 0px 3.13px 0px var(--Gris-sombra);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: 0.1s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.card-course {
  min-height: 500px;
  border-radius: var(--CornerLarge) !important;
  box-shadow: 0px 0px 3.13px 0px var(--Gris-sombra) !important;
}

.card-round {
  border-radius: var(--CornerExtra-large) !important;
  padding: 40px !important;
}

.card-user {
  max-width: 600px !important;
  padding: 40px !important;
  color: white;
  // background: var(--Azul-petroleo);
  background: radial-gradient(
    circle,
    rgba(133, 71, 255, 1) 0%,
    rgba(29, 9, 89, 1) 100%
  );
  border-radius: var(--CornerExtra-large);

  .legend {
    font-size: 16px;
    font-weight: 500;
    line-height: 20.83px;
    letter-spacing: 4px;
    text-align: left;
    margin-bottom: 20px;
  }

  .text {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    text-align: left;
  }
}
.carousel-control-prev {
  width: 4% !important;
}
.carousel-control-next {
  width: 4% !important;
}

.content-card-course {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  width: 100%;
}
