:root {
  // Estilos
  --CornerExtra-large: 28px;
  --Radiuss: 12px;
  // Colores
  --Azul-petroleo: #1d0959;
  --Gris-oscuro: #958bb6;
}

* {
  font-family: "DM Sans" !important;
}

.btn-round {
  border-radius: var(--Radiuss) !important;
}

.card-round {
  border-radius: var(--CornerExtra-large) !important;
  padding: 40px !important;
}

.card-user {
  max-width: 600px !important;
  padding: 40px !important;
  color: white;
  // background: var(--Azul-petroleo);
  background: radial-gradient(
    circle,
    rgba(133, 71, 255, 1) 0%,
    rgba(29, 9, 89, 1) 100%
  );
  border-radius: var(--CornerExtra-large);

  .legend {
    font-size: 16px;
    font-weight: 500;
    line-height: 20.83px;
    letter-spacing: 4px;
    text-align: left;
    margin-bottom: 20px;
  }

  .text {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    text-align: left;
  }
}

.footer {
  width: 100%;
}
